<div class="container-fluid">
  <header>
    <a href="/items/add">
      <button class="btn btn-outline-success">+ add an item</button>
    </a>
    <a href="/items">
      <button class="btn btn-outline-primary">recently updated</button>
    </a>
  </header>

</div>
