<div class="container-fluid">
  <a href="/items/add">
    <button class="btn btn-outline-secondary">+ add an item</button>
  </a>
  <p>
    <a href="/items">
      recently updated items
    </a>
  </p>
</div>
