<div class="container-fluid">
  <form method="post">
    <div class="form-group">
      <label for="brand">brand</label>
      <input class="form-control" id="brand" name="brand" placeholder="brand">
    </div>
    <div class="form-group">
      <label for="name">name</label>
      <input class="form-control" id="name" name="name" placeholder="name">
    </div>
    <div class="form-group">
      <label for="serving_size">serving size</label>
      <input class="form-control" id="serving_size" name="serving_size" type="number" min="0" placeholder="serving size">
    </div>
    <div class="form-group">
      <label for="serving_size_unit">serving size unit</label>
      <input class="form-control" id="serving_size_unit" name="serving size unit" placeholder="serving size unit">
    </div>
    <div class="form-group">
      <label for="serving_size_weight">serving size weight</label>
      <div class="input-group">
        <input class="form-control" id="serving_size_weight" name="serving size weight" type="number" min="0" placeholder="serving size weight">
        <div class="input-group-append">
          <span class="input-group-text">grams</span>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="carbs">carbs</label>
      <div class="input-group">
        <input class="form-control" id="carbs" name="carbs" type="number" min="0" placeholder="carbs">
        <div class="input-group-append">
          <span class="input-group-text">grams</span>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="sugars">sugars</label>
      <div class="input-group">
        <input class="form-control" id="sugars" name="sugars" type="number" min="0" placeholder="sugars">
        <div class="input-group-append">
          <span class="input-group-text">grams</span>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="protein">protein</label>
      <div class="input-group">
        <input class="form-control" id="protein" name="protein" type="number" min="0" placeholder="protein">
        <div class="input-group-append">
          <span class="input-group-text">grams</span>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="notes">notes</label>
      <input class="form-control" id="notes" name="notes" placeholder="notes">
    </div>
    <button class="btn btn-primary" type="submit">save</button>
  </form>
</div>
